---
import type { MarkdownInstance } from "astro";

interface Frontmatter {
  title: string;
  description?: string;
  technologies?: string[];
  tags?: string[];
}

interface Props {
  item:
    | MarkdownInstance<Frontmatter>
    | {
        url: string;
        frontmatter: Frontmatter;
      };
  show: "technologies" | "tags";
}

const { item, show } = Astro.props;

// Normalize the item structure
const normalizedItem = {
  url: item.url,
  frontmatter: {
    title: item.frontmatter.title,
    description: item.frontmatter.description || "", // Handle optional description
    technologies: item.frontmatter.technologies || [],
    tags: item.frontmatter.tags || [],
  },
};
---

<li
  class="group relative overflow-hidden text-balance border bg-dissidia-muted/10 hover:bg-dissidia-muted/80 hover:border-dissidia-muted rounded-xl p-8 transition-all hover:cursor-pointer"
>
  <h2
    class="text-xl leading-[2] font-serif font-medium group-hover:underline group-hover:decoration-dashed group-hover:underline-offset-4 group-hover:decoration-1 sm:text-2xl"
  >
    <a href={normalizedItem.url} class="group-hover:underline">
      {normalizedItem.frontmatter.title}
      <span class="absolute inset-0"></span>
    </a>
  </h2>

  {
    normalizedItem.frontmatter.description && (
      <p class="font-serif leading-[2] tracking-wide">
        {normalizedItem.frontmatter.description}
      </p>
    )
  }

  {
    (normalizedItem.frontmatter.technologies.length > 0 ||
      normalizedItem.frontmatter.tags.length > 0) && (
      <div class="flex items-center gap-2 mt-6">
        {show === "technologies" &&
        normalizedItem.frontmatter.technologies.length > 0 ? (
          <>
            <p class="inline-block font-serif text-sm">Technologies →</p>
            <ul class="list-none flex flex-wrap items-center space-x-4 capitalize">
              {normalizedItem.frontmatter.technologies.map((tech) => (
                <li class="inline-block font-serif text-sm">{tech}</li>
              ))}
            </ul>
          </>
        ) : (
          show === "tags" &&
          normalizedItem.frontmatter.tags.length > 0 && (
            <>
              <p class="inline-block font-serif text-sm">Tags →</p>
              <ul class="list-none flex flex-wrap items-center space-x-4 capitalize">
                {normalizedItem.frontmatter.tags.map((tag) => (
                  <li class="inline-block font-serif text-sm">{tag}</li>
                ))}
              </ul>
            </>
          )
        )}
      </div>
    )
  }
</li>
