---
import type { MarkdownInstance } from "astro";

interface Frontmatter {
  title: string;
  description?: string;
  technologies?: string[];
  tags?: string[];
}

interface Props {
  item:
    | MarkdownInstance<Frontmatter>
    | {
        url: string;
        frontmatter: Frontmatter;
      };
  show: "technologies" | "tags";
}

const { item, show } = Astro.props;

// Normalize the item structure
const normalizedItem = {
  url: item.url,
  frontmatter: {
    title: item.frontmatter.title,
    description: item.frontmatter.description || "", // Handle optional description
    technologies: item.frontmatter.technologies || [],
    tags: item.frontmatter.tags || [],
  },
};
import { body } from "../styles/design-system";
---

<li
  class="group relative overflow-hidden ring-2 ring-dissidia-muted/30 hover:cursor-pointer hover:ring-2 hover:ring-dissidia-muted/75 focus:ring-2 focus:ring-dissidia-accent isolate bg-dissidia-muted/20 hover:bg-dissidia-muted/40 transition-all sm:rounded-t-lg px-4 py-5 sm:p-6"
>
  <h2
    class="text-xl
  leading-[2]
  font-semibold
  group-hover:underline
  group-hover:decoration-dashed
  group-hover:underline-offset-4
  group-hover:decoration-1
  sm:text-2xl"
  >
    <a href={normalizedItem.url} class="group-hover:underline">
      {normalizedItem.frontmatter.title}
      <span class="absolute inset-0"></span>
    </a>
  </h2>

  {
    normalizedItem.frontmatter.description && (
      <p class={body.md + "text-pretty line-clamp-3"}>
        {normalizedItem.frontmatter.description}
      </p>
    )
  }

  {
    (normalizedItem.frontmatter.technologies.length > 0 ||
      normalizedItem.frontmatter.tags.length > 0) && (
      <div class="flex items-center gap-2 mt-6">
        {show === "technologies" &&
        normalizedItem.frontmatter.technologies.length > 0 ? (
          <>
            <p class={body.sm + "inline-block"}>Technologies →</p>
            <ul class="list-none flex flex-wrap items-center space-x-4 capitalize">
              {normalizedItem.frontmatter.technologies.map((tech) => (
                <li class={body.sm + "inline-block"}>{tech}</li>
              ))}
            </ul>
          </>
        ) : (
          show === "tags" &&
          normalizedItem.frontmatter.tags.length > 0 && (
            <>
              <p class={body.sm + "inline-block"}>Tags →</p>
              <ul class="list-none flex flex-wrap items-center space-x-4 capitalize">
                {normalizedItem.frontmatter.tags.map((tag) => (
                  <li class={body.sm + "inline-block"}>{tag}</li>
                ))}
              </ul>
            </>
          )
        )}
      </div>
    )
  }
</li>
