---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
const { frontmatter } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{frontmatter.title}</title>
  </head>
  <body>
    <Header />
    <main class="max-w-7xl mx-auto px-4 py-5 sm:p-6 min-h-dvh my-16">
      <article class="prose max-w-7xl [&>p]:leading-[2]">
        <h1
          class="font-serif text-4xl lg:text-5xl font-bold lg:tracking-tight mt-1 lg:leading-tight leading-[1.5] mb-0"
        >
          {frontmatter.title}
        </h1>
        <p>{frontmatter.description}</p>
        <ul class="list-disc">
          <li>Written by: {frontmatter.author}</li>
          <li>Written on: {frontmatter.pubDate}</li>
        </ul>
        <img
          src={frontmatter.image.url}
          alt={frontmatter.image.alt}
          class="w-full aspect-video object-cover rounded-2xl"
        />
        <slot />
      </article>
      <div class="border-t-2 border-zinc-200 mt-12">
        <a
          href={`/${frontmatter.type.toLowerCase()}`}
          class="block uppercase text-sm font-bold mt-6 hover:underline hover:cursor-pointer"
          >&larr; Back to {frontmatter.type}</a
        >
      </div>
    </main>
    <Footer />
  </body>
</html>
