---
import "../styles/global.css";
const { title, supporting, items } = Astro.props;
---

<h1 class="text-4xl lg:text-5xl/[1.5] font-serif lg:tracking-tight mb-0">
  {title}
</h1>
<p class="text-xl/[1.5] text-zinc-700 tracking-wide text-pretty">
  {supporting}
</p>
<!-- Be sure to use this with a layout container that is full-width on mobile -->
<ul class="grid grid-cols-1 mt-12 gap-12">
  {
    items.map((item: any) => (
      <li class="group relative overflow-hidden text-balance border border-zinc-300 bg-zinc-100 hover:bg-zinc-200 hover:border-zinc-400 rounded-xl p-8 transition-all hover:cursor-pointer">
        <h2 class="text-xl leading-[2] font-serif font-medium group-hover:underline group-hover:decoration-dashed group-hover:underline-offset-4 group-hover:decoration-1 sm:text-2xl">
          <a href={item.url} class="group-hover:underline">
            {item.frontmatter.title}
            <span class="absolute inset-0" />
          </a>
        </h2>
        <p class="font-serif leading-[2] tracking-wide">
          {item.frontmatter.description}
        </p>
        <div class="flex items-center gap-2 mt-6">
          <p class="inline-block font-serif text-sm">
            Technologies Used &rarr;
          </p>
          <ul class="list-none flex flex-wrap items-center space-x-4 capitalize">
            {item.frontmatter.tags.map((tag) => (
              <li class="inline-block font-serif text-sm">{tag}</li>
            ))}
          </ul>
        </div>
      </li>
    ))
  }
</ul>
